body{
  background-color: #EAF6F6;
}
hr{
  background-color: white;
  border-style: dotted;
  border-width: 2px;
  height: 2px;
  width:5%;

}
img{
  height: 250px;
  width: 120%;
}

h1{
  color: #66BFBF;
}

h2{
  font-family:monserrate;
    color: #66BFBF;
    padding:5% 15%;
    text-align:center;
    background-color: #ef8172;
}

h3{  color: #66BFBF;
  text-align:center;
  background-color: #ef8172;
}

h4{  color: #66BFBF;
  text-align:center;
  background-color: #ef8172;
}
